@inherits LayoutComponentBase


<BlazoredToasts />

<div class="main wrapper" onload="MainLoaded">

    <Sidebar />

    <div class="content px-4">
        <SidebarShow />
        <BlazoredToasts />
        @Body
    </div>
</div>
