@inherits BlazorClient.Shared.SidebarBase

<nav id="sidebar" class="@Active">

    @*<div id="dismiss">
        Close
    </div>*@

    <div class="sidebar-header">
        <h1>Algorithm Optimization</h1>
    </div>

    <ul class="list-unstyled components">
        <li>
            <a href="javascript:;" data-toggle="collapse" aria-expanded="false" @onclick='() => NavigateClick("CodeEditor")'>Editor</a>
        </li>
        <li>
            <a href="javascript:;" data-toggle="collapse" aria-expanded="false" @onclick='() => NavigateClick("Config")'>Config</a>
            <p class="small @ConfigSaved">Config Saved</p>
        </li>
        <li>
            <a href="javascript:;" data-toggle="collapse" aria-expanded="false" @onclick='() => NavigateClick("Chart")'>Chart</a>
        </li>
    </ul>
</nav>
<div class="overlay"></div>

