@inherits Jtc.Optimization.BlazorClient.Shared.WaitBase

<div id="wait" class="displayNone">
    <img src="/images/run2.gif" />
    @*<div class="progress">
        <div class="progress-bar" style="width:@ProgressPercent%"></div>
    </div>*@
</div>