html, body {
    background-color: #000000;
    /*overflow-y: hidden;*/
}

body {
    color: #ddd;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.main {
    flex: 1;
}

    .main .top-row {
        border-bottom: 1px solid #d6d5d5;
    }

input[type=number] {
    width: 4em;
}

pre {
    color: #ddd;
}

label {
    padding: 0 10px 0 10px;
    margin-bottom: 0;
}

.form-group {
    border: grey 1px solid;
    background-color: #222;
    padding: 5px;
    border-radius: 5px;
}

input, select {
    border: solid 1px #333;
    border-radius: 5px;
}

    input[type=checkbox] {
        padding: 0;
        margin-top: 0.8em;
    }

.displayNone {
    display: none;
}

h1 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

textarea {
    background-color: #000000;
    color: #ddd;
}

#wait, #loading {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,.7);
}

    #wait img, #loading img {
        filter: blur(2px);
        height: 50px;
        top: 45%;
        left: 50%;
        position: fixed;
        background: transparent;
    }

    #wait pre {
        height: 3em;
        top: 45%;
        position: fixed;
        background: transparent;
        margin-top: 50px;
        width: 100%;
        text-align: center;
        overflow-y: hidden;
    }

canvas {
    padding-bottom: 10px;
}

svg path,
svg rect {
    fill: #fff;
}

.graph-container {
    padding-bottom: 6em;
}

#editor {
    margin-top: 10px;
    min-height: 50em;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.validation-errors {
    list-style: none;
}

.validation-message {
    color: red;
}

#activityLog {
    height: 4em;
}

.wrapper {
    display: block;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100vh;
    z-index: 999;
    background: #111;
    color: #fff;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

    #sidebar.active {
        left: 0;
    }

#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #222;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

    #dismiss:hover {
        background: #fff;
        color: #222;
    }

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

    .overlay.active {
        display: block;
        opacity: 1;
    }

#sidebar .sidebar-header {
    padding: 20px;
    background: #222;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #ddd;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

    #sidebar ul li a:hover {
        color: #222;
        background: #ddd;
    }

#sidebar ul li.active > a,
a[aria-expanded="true"] {
    color: #fff;
    background: #222;
}

a[data-toggle="collapse"] {
    position: relative;
}