html, body {
    background-color: #000000;
    /*overflow-y: hidden;*/
}

body {
    color: #ddd;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.main {
    flex: 1;
}

    .main .top-row {
        border-bottom: 1px solid #d6d5d5;
    }

input[type=number] {
    width: 4em;
}

pre {
    color: #ddd;
}

label {
    padding: 0 10px 0 10px;
    margin-bottom: 0;
}

.form-group {
    border: grey 1px solid;
    background-color: #222;
    padding: 5px;
    border-radius: 5px;
}

input, select {
    border: solid 1px #333;
    border-radius: 5px;
}

    input[type=checkbox] {
        padding: 0;
        margin-top: 0.8em;
    }

.displayNone {
    display: none;
}

h1 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

textarea {
    background-color: #000000;
    color: #ddd;
}

#wait {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,.7);
}

    #wait img {
        filter: blur(1px);
        height: 50px;
        top: 45%;
        left: 50%;
        position: fixed;
        background: transparent;
    }

canvas {
    padding-bottom: 10px;
}

#floatingCirclesG {
    position: relative;
    width: 90px;
    height: 90px;
    margin: auto;
    transform: scale(0.6);
    -o-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
}

.f_circleG {
    position: absolute;
    background-color: rgb(255,255,255);
    height: 16px;
    width: 16px;
    border-radius: 8px;
    -o-border-radius: 8px;
    -ms-border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    animation-name: f_fadeG;
    -o-animation-name: f_fadeG;
    -ms-animation-name: f_fadeG;
    -webkit-animation-name: f_fadeG;
    -moz-animation-name: f_fadeG;
    animation-duration: 0.672s;
    -o-animation-duration: 0.672s;
    -ms-animation-duration: 0.672s;
    -webkit-animation-duration: 0.672s;
    -moz-animation-duration: 0.672s;
    animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-direction: normal;
    -o-animation-direction: normal;
    -ms-animation-direction: normal;
    -webkit-animation-direction: normal;
    -moz-animation-direction: normal;
}

#frotateG_01 {
    left: 0;
    top: 36px;
    animation-delay: 0.2495s;
    -o-animation-delay: 0.2495s;
    -ms-animation-delay: 0.2495s;
    -webkit-animation-delay: 0.2495s;
    -moz-animation-delay: 0.2495s;
}

#frotateG_02 {
    left: 10px;
    top: 10px;
    animation-delay: 0.336s;
    -o-animation-delay: 0.336s;
    -ms-animation-delay: 0.336s;
    -webkit-animation-delay: 0.336s;
    -moz-animation-delay: 0.336s;
}

#frotateG_03 {
    left: 36px;
    top: 0;
    animation-delay: 0.4225s;
    -o-animation-delay: 0.4225s;
    -ms-animation-delay: 0.4225s;
    -webkit-animation-delay: 0.4225s;
    -moz-animation-delay: 0.4225s;
}

#frotateG_04 {
    right: 10px;
    top: 10px;
    animation-delay: 0.509s;
    -o-animation-delay: 0.509s;
    -ms-animation-delay: 0.509s;
    -webkit-animation-delay: 0.509s;
    -moz-animation-delay: 0.509s;
}

#frotateG_05 {
    right: 0;
    top: 36px;
    animation-delay: 0.5955s;
    -o-animation-delay: 0.5955s;
    -ms-animation-delay: 0.5955s;
    -webkit-animation-delay: 0.5955s;
    -moz-animation-delay: 0.5955s;
}

#frotateG_06 {
    right: 10px;
    bottom: 10px;
    animation-delay: 0.672s;
    -o-animation-delay: 0.672s;
    -ms-animation-delay: 0.672s;
    -webkit-animation-delay: 0.672s;
    -moz-animation-delay: 0.672s;
}

#frotateG_07 {
    left: 36px;
    bottom: 0;
    animation-delay: 0.7585s;
    -o-animation-delay: 0.7585s;
    -ms-animation-delay: 0.7585s;
    -webkit-animation-delay: 0.7585s;
    -moz-animation-delay: 0.7585s;
}

#frotateG_08 {
    left: 10px;
    bottom: 10px;
    animation-delay: 0.845s;
    -o-animation-delay: 0.845s;
    -ms-animation-delay: 0.845s;
    -webkit-animation-delay: 0.845s;
    -moz-animation-delay: 0.845s;
}



@keyframes f_fadeG {
    0% {
        background-color: rgb(0,0,0);
    }

    100% {
        background-color: rgb(255,255,255);
    }
}

@-o-keyframes f_fadeG {
    0% {
        background-color: rgb(0,0,0);
    }

    100% {
        background-color: rgb(255,255,255);
    }
}

@-ms-keyframes f_fadeG {
    0% {
        background-color: rgb(0,0,0);
    }

    100% {
        background-color: rgb(255,255,255);
    }
}

@-webkit-keyframes f_fadeG {
    0% {
        background-color: rgb(0,0,0);
    }

    100% {
        background-color: rgb(255,255,255);
    }
}

@-moz-keyframes f_fadeG {
    0% {
        background-color: rgb(0,0,0);
    }

    100% {
        background-color: rgb(255,255,255);
    }
}
