@page "/Chart"
@inherits Jtc.Optimization.BlazorClient.ChartBase
@inject Microsoft.JSInterop.IJSRuntime JSRuntime

<div class="container-fluid">
    <h1 class="text-center">Algorithm Optimization</h1>
    <Indicator Context="update" TemplateType="@typeof(Jtc.Optimization.BlazorClient.LoadingTemplates.Wait)">
        <div class="row">
            <div class="col-sm-6">

                <label for="sampleRate">Sample Rate:</label>
                <input class="input-sm" type="text" id="sampleRate" @bind="SampleRate" />
                <label for="newOnly">New only?:</label>
                <input type="checkbox" id="newOnly" @bind="NewOnly" />
                <button class="btn btn-secondary" @onclick="UpdateChart">Update Chart</button>
                <button class="btn btn-secondary" @onclick="UpdateChartOnServer">Update Chart On Server</button>
                <button class="btn btn-secondary" disabled @onclick="StreamChart">Stream Chart</button>

            </div>
            <div class="col-sm-6">
                <textarea readonly class="w-100 small">@ActivityLog</textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <canvas id="@Config.CanvasId"></canvas>
            </div>
        </div>
    </Indicator>
</div>



