@page "/CodeEditor"
@inherits Jtc.Optimization.BlazorClient.CodeEditorBase
@inject Microsoft.JSInterop.IJSRuntime JSRuntime
@using Jtc.Optimization.BlazorClient.Models

<EditForm Model="@MinimizeFunctionCode" OnValidSubmit="@OptimizeClick">

    <div id="editor">
        @MinimizeFunctionCode.Code
    
    </div>
    <br />
    <button type="submit">Optimize</button>
    <br />
    <textarea readonly class="w-100 small">@ActivityLog</textarea>
    <DataAnnotationsValidator />
    <ValidationSummary />
</EditForm>