@page "/CodeEditor"
@inherits Jtc.Optimization.BlazorClient.CodeEditorBase
@inject Microsoft.JSInterop.IJSRuntime JSRuntime


<style type="text/css" media="screen">

    #editor {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
</style>


<div id="editor">
   
       {0} * {1} - {2};
    
</div>
<br />
<button @onclick="OptimizeClick">Optimize</button>


