@page "/info"

<div class="container">
    <div class="row pl-3">
        <div class="col-sm-10">
            <h1>Info</h1>

            <p>This toolset is made available under an open source licence. If you'd like to share a slice of your trading profits, you can do so here:</p>

            <iframe style="border:none;" src="donate-bitcoin/index.html" height="600" width="400"></iframe>

            <p>If you'd like to share some of your trading losses then feel free to commiserate here:</p>

            <a href="https://gitter.im/LeanParameterOptimization/community">https://gitter.im/LeanParameterOptimization/community</a>
            <br />
            <br />

            <p>This does not constitute financial advice. Use of the Lean Parameter Optimization tools is entirely at your own risk and no liability is implied or accepted for any financial losses that you may incur.</p>

            <hr />

            <h2>FAQ</h2>

            <strong>So, what is this thing anyway?</strong>
            <p>These tools are to support the process of optimizing parameters of Lean trading algorithms. They are designed to be used in conjunction with:</p>
            <ul>
                <li>The Lean Parameter Optimization Launcher available here: <a href="https://github.com/jameschch/LeanParameterOptimization">https://github.com/jameschch/LeanParameterOptimization</a> </li>
                <li>A clone of the Lean trading engine from here: <a href="https://github.com/QuantConnect/Lean">https://github.com/QuantConnect/Lean</a> </li>
                <li>Your own trading algorithm(s)</li>
            </ul>

            <strong>So, what is Lean?</strong>
            <p>Lean is an open-source algorithm trading engine made by some incredible people at <a href="https://www.quantconnect.com">https://www.quantconnect.com</a></p>

            <strong>Wait, can't I just optimize a Javascript (or C#) function in my browser without downloading anything?</strong>
            <p>That is an oddly specific question, but yes you can. Try the code editor here: <a href="https://optimizer.ml/CodeEditor">https://optimizer.ml/CodeEditor</a></p>
            <p>If you enter a Javascript or C# function and hit "Optimize", you will be able to run the optimizer of your choice right then and there in your browser. You even have the option of running multiple parallel threads with Javascript functions. Yes, browsers <i>can</i> do that apparently.</p>

            <strong>I started an optimization in my browser and it's taking too long. What do I do now?</strong>
            <p>If you click the "running man" icon you will have the option to cancel the optimization run. Sorry, but you'll lose all your progress.</p>

            <strong>How do I get Lean running locally?</strong>
            <p>You could try posting to the official forums: <a href="https://www.quantconnect.com/forum">https://www.quantconnect.com/forum</a></p>
            <p>Or alternatively to: <a href="https://www.reddit.com/r/QuantConnect/">https://www.reddit.com/r/QuantConnect</a></p>

            <strong>I found a bug or want to make a feature suggestion. What do I do?</strong>
            <p>Please raise an issue here:</p>
            <a href="https://github.com/jameschch/LeanParameterOptimization">https://github.com/jameschch/LeanParameterOptimization</a>
        </div>
    </div>
</div>