<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="optimizer" type="File" fileName="${basedir}/optimizer.txt" layout="${longdate} ${message}"/>
    <target name="generations" type="File" fileName="${basedir}/generations.txt" layout="${longdate} ${message}"/>
    <target name="error" type="File" fileName="${basedir}/error.txt" layout="${longdate} ${message} ${exception:format=tostring:maxInnerExceptionLevel=10}"/>
    <target name="trace" type="File" fileName="${basedir}/trace.txt" layout="${longdate} ${message}" keepFileOpen ="false"/>
    <target name="console" type="Console" layout="${longdate} ${message}"/>
  </targets>

  <rules>
    <logger name="optimizer" minLevel="Info" writeTo="console, optimizer" />
    <logger name="trace" minLevel="Trace" writeTo="trace" />
    <logger name="generations" minLevel="Info" writeTo="console, generations" />
    <logger name="error" minLevel="Info" writeTo="console, error" />
  </rules>
</nlog>