<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="optimizer" type="File" fileName="${basedir}/optimizer.txt" layout="${longdate} ${message} ${exception:format=tostring:maxInnerExceptionLevel=10}"/>
    <target name="generations" type="File" fileName="${basedir}/generations.txt" layout="${longdate} ${message} ${exception:format=tostring:maxInnerExceptionLevel=10}"/>
    <target name="error" type="File" fileName="${basedir}/error.txt" layout="${longdate} ${message} ${exception:format=tostring:maxInnerExceptionLevel=10}"/>
    <target name="trace" type="File" fileName="${basedir}/trace.txt" layout="${longdate} ${message} ${exception:format=tostring:maxInnerExceptionLevel=10}" keepFileOpen ="false"/>
    <target name="batcher" type="File" fileName="${basedir}/batcher.txt" layout="${longdate} ${message} ${exception:format=tostring:maxInnerExceptionLevel=10}"/>
    <target name="console" type="Console" layout="${longdate} ${message}"/>
    <target name="method" xsi:type="MethodCall" className="Optimization.Batcher.Dynasty, Optimization.Batcher" methodName="LogOutput" >
      <parameter layout="${message}" />
    </target>
  </targets>

  <rules>
    <logger name="optimizer" minLevel="Info" writeTo="console, optimizer, method" />
    <logger name="trace" minLevel="Trace" writeTo="trace" />
    <logger name="generations" minLevel="Info" writeTo="console, generations" />
    <logger name="error" minLevel="Info" writeTo="console, error" />
    <logger name="batcher" minLevel="Info" writeTo="console, batcher" />
  </rules>
</nlog>