<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="optimizer" type="File" fileName="${basedir}/optimizer.txt" layout="${longdate} ${message} ${exception:format=tostring:maxInnerExceptionLevel=10}"/>
    <target name="batcher" type="File" fileName="${basedir}/batcher.txt" layout="${longdate} ${message} ${exception:format=tostring:maxInnerExceptionLevel=10}"/>
    <target name="console" type="Console" layout="${longdate} ${message}"/>
    <target name="method" xsi:type="MethodCall" className="Optimization.Batcher.Dynasty, Optimization.Batcher" methodName="LogOutput" >
      <parameter layout="${message}" />
    </target>
  </targets>

  <rules>
    <logger name="optimizer" minLevel="Trace" writeTo="console, optimizer, method" />
    <logger name="batcher" minLevel="Trace" writeTo="console, batcher" />
  </rules>
</nlog>